body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #112233;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: #00cc99;
}

h2 {
    margin-bottom: 20px;
    color: #00ffcc;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #00ffcc;
}

.input-group img {
    margin-right: 10px;
}

#email ,#password {
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    color: #ffffff;
    outline: none;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    color: #00cc99;
    font-size: 14.5px;
    font-size: 14px;
    margin-bottom: 20px;
}
.remember-forgot label input{
    accent-color: #0df498;
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #00ffcc;
    color: #112233;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #00cc99;
}
