<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="app-container">
        <header>
          <!-- Navigation, logo, etc. -->
          <nav>
            <a routerLink="/login" routerLinkActive="active">Login</a>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/book" routerLinkActive="active">Book</a>
          </nav>
          
          <router-outlet></router-outlet>
        </header>
        
        <main>
          <router-outlet></router-outlet> <!-- Routed components are displayed here -->
        </main>
        
        <footer>
          <!-- Footer content -->
        </footer>
      </div>
      
</body>
</html>